<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </initialize>
    </pipelines>

    <hooks>
      <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
    </hooks>

    <scheduling>
      <agent type="Sitecore.Tasks.CounterDumpAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.UrlAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.CloneNotificationsCleanupAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.HtmlCacheClearAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.Tasks.TaskDatabaseAgent">
        <patch:delete />
      </agent>
      <agent name="Core_Database_Agent" type="Sitecore.Tasks.DatabaseAgent">
        <patch:delete />
      </agent>
      <agent name="Master_Database_Agent" type="Sitecore.Tasks.DatabaseAgent">
        <patch:delete />
      </agent>
      <agent type="Sitecore.ContentSearch.Tasks.Optimize">
        <patch:delete />
      </agent>
      <agent name="EmailDiagnosticsReportTask">
        <patch:delete />
      </agent>
    </scheduling>

    <settings>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ItemCloning.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="DeviceDetection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Media.RequestProtection.Logging.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="WebEdit.ShowNumberOfLockedItemsOnButton">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ContentEditor.CheckHasChildrenOnTreeNodes">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Publishing.MaxDegreeOfParallelism">
        <patch:attribute name="value">8</patch:attribute>
      </setting>
      <setting name="Caching.DisableCacheSizeLimits">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>

    <xslControls>
      <control type="Sitecore.Web.UI.XslControls.ContentDot">
        <patch:delete />
      </control>
      <control type="Sitecore.Web.UI.XslControls.WordStyle">
        <patch:delete />
      </control>
    </xslControls>
  </sitecore>
</configuration>