<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <httpRequestBegin>
        <processor type="Reforge.CliSupport.HandleCliAuthentication, Reforge.CliSupport" patch:after="processor[@type='Sitecore.Services.GraphQL.Hosting.Mvc.Pipelines.HttpRequestBegin.SkipContextItemResolutionWhenGraphQLRequest, Sitecore.Services.GraphQL.NetFxHost']" />
        <processor type="Reforge.CliSupport.HandleIdentityServerRoutes, Reforge.CliSupport" patch:after="processor[@type='Sitecore.Services.GraphQL.Hosting.Mvc.Pipelines.HttpRequestBegin.SkipContextItemResolutionWhenGraphQLRequest, Sitecore.Services.GraphQL.NetFxHost']" />
      </httpRequestBegin>
    </pipelines>

    <federatedAuthentication>
      <identityProviders>
        <identityProvider id="SitecoreIdentityServer">
          <enabled>false</enabled>
        </identityProvider>
      </identityProviders>
    </federatedAuthentication>

    <settings>
      <setting name="Owin.Authentication.Enabled" value="false" />
      <setting name="FederatedAuthentication.Enabled" value="false" />
    </settings>

    <sites>
      <site name="shell" set:loginPage="/sitecore/login"/>
      <site name="admin" set:loginPage="/sitecore/admin/login.aspx"/>
    </sites>
  </sitecore>
</configuration>
