@{
    var title = "Sitecore Reforge Black Box";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <style type="text/css">
        body {
            background-color: rgb(30, 30, 30);
            color: lightgrey;
            font-family: Consolas, Courier New, Courier, monospace;
            font-size: 1.1em;
            margin: 20px;
        }

        a, a:visited {
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>@title</h1>
        <aside>Bare-bones Sitecore XM environment for headless (cross platform) development.</aside>
    </header>
    <p>
        Where to go from here:
        <ul>
            <li>
                Visit the documentation at <a href="https://github.com/pbering/sitecore-reforge">http://github.com/pbering/sitecore-reforge</a>
            </li>
            <li>
                Example .NET Core Rendering Host implementation <a href="https://github.com/pbering/sitecore-reforge-example-netcore">http://github.com/pbering/sitecore-reforge-example-netcore</a>
            </li>
            <li>
                The Sitecore Headless Services <a href="https://doc.sitecore.com/en/developers/hd/190/sitecore-headless-development/sitecore-headless-services.html">documentation</a>
            </li>
        </ul>
    </p>
</body>
</html>